USE [master]
GO
/****** Object:  Database [ClothingDatabase]    Script Date: 5/14/2017 7:43:14 PM ******/
CREATE DATABASE [ClothingDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothingDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ClothingDatabase.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ClothingDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ClothingDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothingDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothingDatabase]
GO
/****** Object:  Table [dbo].[AccessoryTypes]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccessoryTypes](
	[AccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[AccessoryType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AccessoryTypes] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BottomTypes]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BottomTypes](
	[BottomID] [int] IDENTITY(1,1) NOT NULL,
	[BottomType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BottomTypes] PRIMARY KEY CLUSTERED 
(
	[BottomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MyAccessories]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MyAccessories](
	[MyAccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Photo] [nvarchar](150) NOT NULL,
	[AccessoryID] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Season] [varchar](50) NOT NULL,
	[Occasion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MyAccessories] PRIMARY KEY CLUSTERED 
(
	[MyAccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MyBottoms]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MyBottoms](
	[MyBottomID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Photo] [nvarchar](150) NOT NULL,
	[BottomID] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Season] [varchar](50) NOT NULL,
	[Occasion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MyBottoms] PRIMARY KEY CLUSTERED 
(
	[MyBottomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MyShoes]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MyShoes](
	[MyShoeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Photo] [nvarchar](150) NOT NULL,
	[ShoeID] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Season] [varchar](50) NOT NULL,
	[Occasion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MyShoes] PRIMARY KEY CLUSTERED 
(
	[MyShoeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MyTops]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MyTops](
	[MyTopID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Photo] [nvarchar](150) NOT NULL,
	[TopID] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Season] [varchar](50) NOT NULL,
	[Occasion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MyTops] PRIMARY KEY CLUSTERED 
(
	[MyTopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShoeTypes]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShoeTypes](
	[ShoeID] [int] IDENTITY(1,1) NOT NULL,
	[ShoeType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ShoeTypes] PRIMARY KEY CLUSTERED 
(
	[ShoeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TopTypes]    Script Date: 5/14/2017 7:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TopTypes](
	[TopID] [int] IDENTITY(1,1) NOT NULL,
	[TopType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TopTypes] PRIMARY KEY CLUSTERED 
(
	[TopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AccessoryTypes] ON 

INSERT [dbo].[AccessoryTypes] ([AccessoryID], [AccessoryType]) VALUES (1, N'Belts')
INSERT [dbo].[AccessoryTypes] ([AccessoryID], [AccessoryType]) VALUES (2, N'Hats')
INSERT [dbo].[AccessoryTypes] ([AccessoryID], [AccessoryType]) VALUES (3, N'Scarves')
SET IDENTITY_INSERT [dbo].[AccessoryTypes] OFF
SET IDENTITY_INSERT [dbo].[BottomTypes] ON 

INSERT [dbo].[BottomTypes] ([BottomID], [BottomType]) VALUES (1, N'Dress Pants')
INSERT [dbo].[BottomTypes] ([BottomID], [BottomType]) VALUES (2, N'Jeans')
INSERT [dbo].[BottomTypes] ([BottomID], [BottomType]) VALUES (3, N'Khakis')
SET IDENTITY_INSERT [dbo].[BottomTypes] OFF
SET IDENTITY_INSERT [dbo].[MyAccessories] ON 

INSERT [dbo].[MyAccessories] ([MyAccessoryID], [Name], [Photo], [AccessoryID], [Color], [Season], [Occasion]) VALUES (3, N'checkered scarf', N'http://www.bluemaize.net/im/scarves/checkered-scarf-0.jpg', 3, N'red, black', N'fall, winter', N'casual')
INSERT [dbo].[MyAccessories] ([MyAccessoryID], [Name], [Photo], [AccessoryID], [Color], [Season], [Occasion]) VALUES (4, N'leather belt', N'http://moneyinc.com/wp-content/uploads/2016/10/Dark-Grey-Buckle-Belt-1.jpg', 1, N'black', N'spring, summer, fall, winter', N'formal')
INSERT [dbo].[MyAccessories] ([MyAccessoryID], [Name], [Photo], [AccessoryID], [Color], [Season], [Occasion]) VALUES (5, N'Rolex', N'https://www.bobswatches.com/images/rolex-watches/explorer.png', 5, N'brown', N'spring, summer, fall', N'formal')
SET IDENTITY_INSERT [dbo].[MyAccessories] OFF
SET IDENTITY_INSERT [dbo].[MyBottoms] ON 

INSERT [dbo].[MyBottoms] ([MyBottomID], [Name], [Photo], [BottomID], [Color], [Season], [Occasion]) VALUES (1, N'Bragg jeans', N'http://images.firetrap.com/images/products/64001022_l.jpg', 2, N'dark blue', N'spring, summer, fall, winter', N'casual')
INSERT [dbo].[MyBottoms] ([MyBottomID], [Name], [Photo], [BottomID], [Color], [Season], [Occasion]) VALUES (2, N'work pants', N'http://images.cabelas.com/is/image/cabelas/s7_906996_renderset_03?wid=300&hei=230&op_sharpen=1', 3, N'brown', N'spring, summer, fall, winter', N'business-casual')
INSERT [dbo].[MyBottoms] ([MyBottomID], [Name], [Photo], [BottomID], [Color], [Season], [Occasion]) VALUES (3, N'gym shorts', N'https://cdn.shopify.com/s/files/1/1193/2354/products/7M7AFMK_NAV_columbia-blue_large.jpeg?v=1473861002', 4, N'blue', N'spring, summer, fall, winter', N'gym')
SET IDENTITY_INSERT [dbo].[MyBottoms] OFF
SET IDENTITY_INSERT [dbo].[MyShoes] ON 

INSERT [dbo].[MyShoes] ([MyShoeID], [Name], [Photo], [ShoeID], [Color], [Season], [Occasion]) VALUES (1, N'Puma sneakers', N'http://pumaecom.scene7.com/is/image/PUMAECOM/185999_02_PNA?$PUMA_GRID$', 5, N'black, white, red', N'spring, summer', N'casual')
INSERT [dbo].[MyShoes] ([MyShoeID], [Name], [Photo], [ShoeID], [Color], [Season], [Occasion]) VALUES (2, N'beach flip-flops', N'http://thumbs2.ebaystatic.com/d/l225/m/muw8kcc72Btw58aRzZD8iqA.jpg', 3, N'brown', N'summer', N'casual')
INSERT [dbo].[MyShoes] ([MyShoeID], [Name], [Photo], [ShoeID], [Color], [Season], [Occasion]) VALUES (3, N'leather boots', N'https://s-media-cache-ak0.pinimg.com/originals/f0/e5/dc/f0e5dcb6be26a3d5c9650ae648cd2af8.jpg', 1, N'reddish', N'fall', N'casual')
SET IDENTITY_INSERT [dbo].[MyShoes] OFF
SET IDENTITY_INSERT [dbo].[MyTops] ON 

INSERT [dbo].[MyTops] ([MyTopID], [Name], [Photo], [TopID], [Color], [Season], [Occasion]) VALUES (1, N'LaCoste golf shirt', N'http://www.bluemaize.net/im/mens-clothing/lacoste-polo-2.jpg', 4, N'light blue', N'spring, summer, fall', N'casual, business-casual')
INSERT [dbo].[MyTops] ([MyTopID], [Name], [Photo], [TopID], [Color], [Season], [Occasion]) VALUES (2, N'striped shirt', N'http://rockstaracademy.co.uk/shop/Mens_t-shirt_white_black_BIG.jpg', 7, N'black, white', N'spring, summer, fall', N'casual')
INSERT [dbo].[MyTops] ([MyTopID], [Name], [Photo], [TopID], [Color], [Season], [Occasion]) VALUES (3, N'Puma hoodie', N'https://cdn.shopify.com/s/files/1/1119/4994/products/00_4f75a9df-0f45-4460-95a6-4d8a5e9f8f7c.jpg?v=1468925543', 5, N'red', N'fall, winter, spring', N'casual')
SET IDENTITY_INSERT [dbo].[MyTops] OFF
SET IDENTITY_INSERT [dbo].[ShoeTypes] ON 

INSERT [dbo].[ShoeTypes] ([ShoeID], [ShoeType]) VALUES (1, N'Boots')
INSERT [dbo].[ShoeTypes] ([ShoeID], [ShoeType]) VALUES (2, N'Dress Shoes')
INSERT [dbo].[ShoeTypes] ([ShoeID], [ShoeType]) VALUES (3, N'Sandals')
SET IDENTITY_INSERT [dbo].[ShoeTypes] OFF
SET IDENTITY_INSERT [dbo].[TopTypes] ON 

INSERT [dbo].[TopTypes] ([TopID], [TopType]) VALUES (1, N'Dress Shirts')
INSERT [dbo].[TopTypes] ([TopID], [TopType]) VALUES (2, N'Jackets')
INSERT [dbo].[TopTypes] ([TopID], [TopType]) VALUES (4, N'Polo Shirts')
SET IDENTITY_INSERT [dbo].[TopTypes] OFF
ALTER TABLE [dbo].[MyAccessories]  WITH CHECK ADD  CONSTRAINT [FK_MyAccessories_AccessoryTypes] FOREIGN KEY([AccessoryID])
REFERENCES [dbo].[AccessoryTypes] ([AccessoryID])
GO
ALTER TABLE [dbo].[MyAccessories] CHECK CONSTRAINT [FK_MyAccessories_AccessoryTypes]
GO
ALTER TABLE [dbo].[MyBottoms]  WITH CHECK ADD  CONSTRAINT [FK_MyBottoms_BottomTypes] FOREIGN KEY([BottomID])
REFERENCES [dbo].[BottomTypes] ([BottomID])
GO
ALTER TABLE [dbo].[MyBottoms] CHECK CONSTRAINT [FK_MyBottoms_BottomTypes]
GO
ALTER TABLE [dbo].[MyShoes]  WITH CHECK ADD  CONSTRAINT [FK_MyShoes_ShoeTypes] FOREIGN KEY([ShoeID])
REFERENCES [dbo].[ShoeTypes] ([ShoeID])
GO
ALTER TABLE [dbo].[MyShoes] CHECK CONSTRAINT [FK_MyShoes_ShoeTypes]
GO
ALTER TABLE [dbo].[MyTops]  WITH CHECK ADD  CONSTRAINT [FK_MyTops_TopTypes] FOREIGN KEY([TopID])
REFERENCES [dbo].[TopTypes] ([TopID])
GO
ALTER TABLE [dbo].[MyTops] CHECK CONSTRAINT [FK_MyTops_TopTypes]
GO
USE [master]
GO
