body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#D46A6A;
    color:#FFFFFF;
    background-image:url("../images/Neckties.PNG");
    background-size:cover;
}

.navbar-custom{
    color:#FFFFFF;
}

.jumbo-custom{
    margin-top:20px;
    color:#FFFFFF;
    background: rgba(0, 0, 0, 0.4); /* Set the opacity to 0 to make the jumbotron's background go away. */
    text-align:center;
}

.link-padding{
        background-color: rgba(0, 0, 0, 0.4);
}

.spacing{
    padding-top:150px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
