@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbo-custom">
    <h1>My Wardrobe Application</h1>
    <p class="lead lead-custom">"It makes us look good when you look good!"</p>
</div>

<div class="spacing">
<!-- THIS TAKES UP SPACE -->
</div>

<div class="row text-center link-padding">
    <div class="col-md-3">
        <h2><input type="button" class="btn btn-primary large" value="MY TOPS" onclick="location.href='@Url.Action("Index", "MyTops")'"/></h2>
        <p>Organize your tops here.</p>
    </div>
    <div class="col-md-3">
        <h2><input type="button" class="btn btn-primary large" value="MY BOTTOMS" onclick="location.href='@Url.Action("Index", "MyBottoms")'"/></h2>
        <p>Keep track of your bottoms.</p>
    </div>
    <div class="col-md-3">
        <h2><input type="button" class="btn btn-primary large" value="MY SHOES" onclick="location.href='@Url.Action("Index", "MyShoes")'"/></h2>
        <p>Organize your shoes here.</p>
    </div>
    <div class="col-md-3">
        <h2><input type="button" class="btn btn-primary large" value="MY ACCESSORIES" onclick="location.href='@Url.Action("Index", "MyAccessories")'"/></h2>
        <p>Keep track of your accessories.</p>
    </div>
</div>